.detail-quiz-container{
    display: flex;
    gap: 30px;
    padding: 60px;
    .left-content{
        padding: 30px;
        width: 60%;
        border-radius: 5px;
        border: 2px solid #ccc;
        .title{
            font-weight: 600;
            font-size: 30px;
        }
        .q-content{
            text-align: center;
            .question{
                font-size: 20px;
                font-weight: 500;
                font-style: italic;
                padding: 20px 0;
            }
            .img-question{
                height: 200px;
                width: 100%;
                img{
                max-height: 100%;
                max-width: 100%;
                justify-content: center;
                }
            }
            .answer{
                text-align: left;
                padding-left: 50px;
            }
        }
        .footer{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            button{
                margin: 10px;
            }
        }
    }
    .right-content{
        width: 40%;
        padding: 30px;
        border-radius: 5px;
        border: 2px solid #ccc;
        

    }

}