.login-container {
    .header{
        margin: 10px;
        height: 50px;
        text-align: right;
        border: 1px;
    }
    .title{
        padding: 20px 0;
        font-size: 40px;
        text-align: center;
    }
    .welcome{
        margin: 20px;
        height: 30px;
        font-size: 25px;
        text-align: center;
    }
    .content-form{
        display: flex;
        flex-direction: column;
    input{
        margin-top: 5px;
        margin-bottom: 10px;
        height: 50px;
    }
    label{
        font-size: 18px;
    }
    .forgot-password{
        color: #999999;
        margin-bottom: 20px;
    }
    .btn-submit{
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100%;
        background-color:  #1a1a19;
        border-color: #1a1a19;
        border-radius: 5px;
        border-style:solid; 
        border-width: 1px;
        color: #ffffff;
        font-weight: 500;
        justify-content: center;
        line-height: 30px;
        padding: 8px 16px;
        text-align: center;
        &:hover {
        background-color: #3e3e3e;
        }
    }
}
    
}